<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb439301653841577</string>
			</array>
		</dict>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.virginvoyages.ci.sailor</string>
            </array>
            <key>CFBundleURLName</key>
            <string>VirginVoyagesNonProdBundleId</string>
        </dict>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.virginvoyages.sailor.prod</string>
            </array>
            <key>CFBundleURLName</key>
            <string>VirginVoyagesProdBundleId</string>
        </dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb554785948639735</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_BUNDLE_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.virginvoyages.ci.sailor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>virginvoyages</string>
			</array>
		</dict>
	</array>
	<key>DTXApplicationID</key>
	<string>fd1168c0-b3b9-497a-95c2-2e12b1b5fc68</string>
	<key>DTXAutoStart</key>
	<true/>
	<key>DTXBeaconURL</key>
	<string>https://bf09058kzc.bf.dynatrace.com/mbeacon</string>
	<key>DTXStartupLoadBalancing</key>
	<true/>
	<key>DTXUserOptIn</key>
	<false/>
	<key>FIREBASE_API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>FIREBASE_BUNDLE_ID</key>
	<string>$(FIREBASE_BUNDLE_ID)</string>
	<key>FIREBASE_CLIENT_ID</key>
	<string>$(FIREBASE_CLIENT_ID)</string>
	<key>FIREBASE_DATABASE_URL</key>
	<string>$(FIREBASE_DATABASE_URL)</string>
	<key>FIREBASE_GCM_SENDER_ID</key>
	<string>$(FIREBASE_GCM_SENDER_ID)</string>
	<key>FIREBASE_GOOGLE_APP_ID</key>
	<string>$(FIREBASE_GOOGLE_APP_ID)</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>$(FIREBASE_PROJECT_ID)</string>
	<key>FIREBASE_REVERSED_CLIENT_ID</key>
	<string>$(FIREBASE_REVERSED_CLIENT_ID)</string>
	<key>FIREBASE_STORAGE_BUCKET</key>
	<string>$(FIREBASE_STORAGE_BUCKET)</string>
	<key>FacebookAppID</key>
	<string>$(FB_APP_ID)</string>
	<key>FacebookClientToken</key>
	<string>$(FB_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>virginvoyages</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.virginvoyages.sailorapp</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We send notifications to keep you updated on your voyage, booked events, and food orders. Stay informed about important changes, reminders, and the status of your orders throughout your journey.</string>
	<key>RECAPTCHA_SITE_KEY</key>
	<string>$(RECAPTCHA_SITE_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Vesterbro-Bold.otf</string>
		<string>Voyages-Display v2.otf</string>
		<string>Voyages-Headline v2.otf</string>
		<string>VVCentra2-Black.otf</string>
		<string>VVCentra2-BlackItalic.otf</string>
		<string>VVCentra2-Bold.otf</string>
		<string>VVCentra2-BoldItalic.otf</string>
		<string>VVCentra2-Book.otf</string>
		<string>VVCentra2-BookItalic.otf</string>
		<string>VVCentra2-Extrabold.otf</string>
		<string>VVCentra2-ExtraboldItalic.otf</string>
		<string>VVCentra2-Hairline.otf</string>
		<string>VVCentra2-HairlineItalic.otf</string>
		<string>VVCentra2-Light.otf</string>
		<string>VVCentra2-LightItalic.otf</string>
		<string>VVCentra2-Medium.otf</string>
		<string>VVCentra2-MediumItalic.otf</string>
		<string>VVCentra2-Thin.otf</string>
		<string>VVCentra2-ThinItalic.otf</string>
		<string>Antro-Vectra-Bolder.otf</string>
		<string>Antro-Vectra.otf</string>
		<string>Trenda-Bold.otf</string>
		<string>Trenda-Light.otf</string>
		<string>Trenda-Regular.otf</string>
		<string>Trenda-Semibold.otf</string>
		<string>Trenda-SemiboldIt.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
